Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.1.0
numpy==1.18.2
pandas==0.24.2
pickleshare==0.7.5
python-dateutil==2.8.1
scikit-learn==0.21.2
tensorboard==1.13.1
tensorflow==2.5.1
tensorflow-estimator==1.15.1
